# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
.next/
out/
build/
dist/

# Content
src/content/.obsidian/
src/content/drafts/
_archive/

# Environment variables
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
