.container {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20vh;
}

.content {
  text-align: center;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.content p {
  color: var(--accent);
} 